# Server Config
PORT=3000

# Auth Config
AUTH_TOKEN_SECRET=your_secret_token
AUTH_TOKEN_EXPIRES_IN=12h

# Database Config
PGHOST=localhost
PGPORT=5432
PGUSER=user_database
PGPASSWORD=password_database
PGDATABASE=database

# WebSocket Config
INTERACTIVE_RUNNER_WS_URL=ws://localhost:4000/ws

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# OAuth Config
GOOGLE_CLIENT_ID=your_google_client_id

# OTP Config
MAIL_USER=your_email
MAIL_PASS=your_gmail_pass (not password for login)
MAIL_FROM="Platform Praktikum Pemrograman <your@email.com>"

