# Server Config
PORT=3000
NODE_ENV=development

# Authentication Config (JWT)
AUTH_TOKEN_SECRET=your_secret_jwt_token
AUTH_TOKEN_EXPIRES_IN=12h

# Database PostgreSQL Config
PGHOST=localhost
PGPORT=5432
PGUSER=user_database
PGPASSWORD=password_database
PGDATABASE=database_name
PGSSL=false

# WebSocket Runner Service URL & Security
INTERACTIVE_RUNNER_WS_URL=ws://localhost:4000/ws
RUNNER_API_KEY=your_runner_api_key_secret

# AI Evaluator Service Config
AI_EVALUATOR_SERVICE_URL=http://localhost:5000
AI_SERVICE_API_KEY=your_ai_service_api_key_secret
LMS_WEBHOOK_URL=http://localhost:3000/api/internal/ai-callback
AI_EVALUATION_MAX_RETRY=3
AI_EVALUATION_RETRY_DELAY_MS=1500
AI_EVALUATOR_DEBUG_PAYLOAD=false

# Cloudinary Config (Upload Media & Gambar Jobsheet)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Google OAuth Config (SSO Login)
GOOGLE_CLIENT_ID=your_google_client_id

# Email & OTP Service Config (SMTP & Resend API)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password
MAIL_FROM="Platform Praktikum Pemrograman <your_email@gmail.com>"
RESEND_API_KEY=your_resend_api_key
RESEND_FROM="Platform Praktikum Pemrograman <noreply@yourverifieddomain.com>"

# Debug & Monitoring Config
LIVE_WORKSPACE_DEBUG=false
